<!DOCTYPE html>
<html>
  <head>
    <title>ShortStoryBook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
  	<div>
  		<h1>Short Story Book</h1>
  	</div>
  	<hr>
  </header>
    <%= yield %>
  </body>
  <footer>
  	<
  </footer>
</html>
